
body{
  background-color: #ecf4f475;
  overflow-x: hidden;
}

.auth-page{
  background: url("../public/bg-img.webp");
}

.posts-section{
  overflow-y: scroll;
  scroll-behavior: smooth;

}

.posts-section::-webkit-scrollbar{
  
    display: none;

}

.people-section{
  overflow-y: scroll;
  overflow-x: visible;
  scroll-behavior: smooth;
}
.people-section::-webkit-scrollbar{
  
  display: none;

}
.comment-section::-webkit-scrollbar{
  
  display: none;
}

@media only screen and (max-width:600px) {
  
  .profile-box .user-box img{
    width: 5rem;
    height: 5rem;
  }
}

.post-card-info{
  display: none;
}

.post-card:hover .post-card-info{

  display: flex;
}

.floating-notification-box{

  animation: float-down .4s ease 0s 1 ;
}
 @keyframes float-down {

  from{
    top: -40px; 
  }to{
    top: attr(data-position)px;
  }
 }